#menu-buttons-div {
	position: relative;
	margin: 40px auto;
	display: flex;
	flex-direction: flex-row;
	justify-content: space-evenly;
}
.player-selection {
	display: absolute;
	top: 0;
	width: 250px;
	color: var(--light-grey);
	align-self: end;
	justify-self: start;
	text-align: right;
	padding: 10px 20px;
}
.player-selection p {
	font-size: 0.7rem;
}
select {
	background-color: var(--light-grey);
	display: inline-block;
	margin: 0 auto;
	border: none;
	letter-spacing: 0.1rem;
	font-weight: 400;
	border-radius: 10px;
	padding: 5px 10px;
	height: 25px;
	font-size: 0.7rem;
}
select:focus {
	outline: none;
}
.instruction-button,
#play-button {
	box-shadow: rgba(0, 0, 0, 0.17) 0px -3px 5px 5px inset, rgba(0, 0, 0, 0.15) 0px -6px 8px 5px inset,
		rgba(0, 0, 0, 0.1) 0px -20px 20px 0px inset;
	/* font-family: 'Merriweather', serif; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
	padding: 5px 10px;
	height: 40px;
	width: 150px;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	font-weight: 400;
	border-radius: 10px;
	border: none;
	/* border: 2px solid var(--orange); */
	background-color: var(--orange);
	transition: all 0.4s ease;
}
.instruction-button {
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}

.instruction-popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.instruction-popup p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 20px 20px 20px;
	width: 300px;
	border-radius: 0.5rem;
	background-color: white;
	text-align: justify;
}
.show-popup {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.instruction-popup-close-button {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 30%;
	background-color: var(--orange);
	transition: all 0.2s ease;
}
.instruction-popup p {
	margin: 30px 10px;
}
#play-button:enabled:hover,
.instruction-button:enabled:hover {
	background-color: var(--yellow);
	transform: translateY(-4px);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -3px 5px 5px inset, rgba(0, 0, 0, 0.15) 0px -6px 8px 5px inset,
		rgba(0, 0, 0, 0.1) 0px -20px 20px 0px inset, rgba(0, 0, 0, 0.8) 2px 2px 5px 5px;
}
#play-button:enabled:active,
.instruction-button:enabled:active {
	background-color: var(--light-blue);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -3px 5px 5px inset, rgba(0, 0, 0, 0.15) 0px -6px 8px 5px inset,
		rgba(0, 0, 0, 0.1) 0px -20px 20px 0px inset, rgba(0, 0, 0, 1) 0px 1px 2px 2px;
	transform: translateY(-2px);
}
.instruction-popup-close-button:hover {
	background-color: var(--yellow);
	transform: translateY(-2px);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px;
	cursor: default;
}

.instruction-popup-close-button:active {
	background-color: var(--light-blue);
	transform: translateY(-1px);
	box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 1px 0px;
	cursor: default;
}
