:root {
	--very-dark-blue: #2f4858;
	--dark-blue: #16697a;
	--medium-blue: #489fb5;
	--light-blue: #82c0cc;
	--light-grey: #ede7e3;
	--orange: #e06c1e;
	--yellow: #f6ae2d;
}

body {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Nunito', sans-serif;
	background-color: var(--very-dark-blue);
	background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #4ca1af);
	background-size: 400% 400%;
	background-position: 400%;
	animation: gradient 10s ease infinite;
}
header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 50px 0 30px 0;
	background-color: rgba(24, 32, 37, 0.9);
	margin: 0 0 50px 0;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 40px 10px;
}
h1 {
	color: var(--light-grey);
	font-weight: 800;
	letter-spacing: 0.5rem;
	line-height: 0;
	animation: moveInLeft 3s ease-out;
	backface-visibility: hidden;
}

#overall-game-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	animation: moveInRight 3s ease-out;
}

#main-game-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#side-game-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-width: 160px;
	margin: 0 50px;
}
#guessed-words-div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-width: 160px;
	height: 345px;
	background-color: var(--light-grey);
	border-radius: 20px;
	overflow: auto;
}
h5 {
	margin: 0 auto;
}
#total-score-div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	min-width: 160px;
	padding: 0;
	height: 80px;
	background-color: var(--medium-blue);
	border-radius: 20px;
	margin: 20px auto;
}
#total-score-number {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10px;
	font-size: 1.5rem;
	font-weight: 800;
}
.guessed-words {
	margin: 0 auto;
	text-align: center;
}

#current-letters-holder {
	background-color: var(--light-grey);
	width: 375px;
	height: 50px;
	margin: 20px 0;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	white-space: nowrap;
	align-items: center;
	font-size: 1.3rem;
	overflow: hidden;
	font-weight: 600;
	letter-spacing: 0.3rem;
}
.invalid-word {
	color: rgb(129, 44, 44);
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
